<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DB_HOST" value="172.17.251.140" />
    <add key="DB_PORT" value="5432" />
    <add key="DB_NAME" value="producao" />
    <add key="DB_USER" value="postgres" />
    <add key="DB_PASSWORD" value="12345678" />
  </appSettings>
</configuration>
