<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DB_HOST" value="172.17.251.140" />
    <add key="DB_PORT" value="5432" />
    <add key="DB_NAME" value="empresa" />
    <add key="DB_USER" value="teste" />
    <add key="DB_PASSWORD" value="12345678" />
    <add key="TEST_CONNECTION" value="Host=172.17.251.140;Port=5432;Database=postgres;Username=postgres;Password=12345678;Include Error Detail=true;" />
  </appSettings>
</configuration>
